# Groq API Configuration
GROQ_API_KEY=

# DataStax Astra DB Configuration
ASTRA_DB_APPLICATION_TOKEN=
ASTRA_DB_ID=
ASTRA_DB_KEYSPACE=

# Optional User-Agent header for web scrapers
USER_AGENT=SportPulseAI/1.0

# Optional Hugging Face Token (if you wish to use authenticated Hugging Face API limits)
HF_TOKEN=

