# Python virtual environment
.venv/
venv/
ENV/
env/

# Environment variables & secrets
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Streamlit temporary / cache files
.streamlit/secrets.toml
